body {
  background: #7159c1;                      /* Fundo roxo */
  color: #FFF;                              /* Letras brancas */
  font-family: Arial, Helvetica, sans-serif;  /* Tipo de fonte */
}